<form [formGroup]="form" (ngSubmit)="onLogin()">
    <div *ngIf="form.errors" class="alert alert-danger">
        <div *ngIf="form.errors.invalidLogin">Login is not valid</div>
    </div>
    <div formGroupName="account">
        <div class="form-group">
          <label for="username">Username</label>
          <input
              formControlName="username"
              id="username"
              type="text"
              class="form-control">
              <div *ngIf="username.pending">
                <p class="mt-1"><img src="../../assets/loading-gif.gif"> Checking for uniqueness...</p>

              </div>
              <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">Username should be at least {{ username.errors.minlength.requiredLength }} characters</div>
                <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space</div>
                <div *ngIf="username.errors.shouldBeUnique">Username is already taken</div>
              </div>
        </div>
        <div class="form-group mt-3">
          <label for="password">Password</label>
          <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control">
        </div>
    </div>
    <button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid">Sign Up</button>
</form>
