<!-- <app-courses></app-courses> -->
<!-- <app-panel>
  <div class="heading" [textContent]="title"></div>
  <ng-container class="body">
      body
  </ng-container>
</app-panel> -->
<!--
<h1>Global Courses Liste</h1>
<app-course [isFavorite]="post.isFavorite" (changed)="onFavoriteChange($event)"></app-course>
 -->

<!--  <ul class="nav nav-pills">
   <li class="nav-item"><a href="#" (click)="viewmode = 'map'" class="nav-link" [class.active]="viewmode == 'map'">Map View</a></li>
   <li class="nav-item"><a href="#" (click)="viewmode = 'list'" class="nav-link" [class.active]="viewmode == 'list'">List View</a></li>
 </ul>
 <div [ngSwitch]= "viewmode">
   <div *ngSwitchCase="'map'">Map View Content</div>
   <div *ngSwitchCase="'list'">List View Content</div>
   <div *ngSwitchDefault>Otherwise</div>
 </div>
  <br>
<button (click)="onAdd()">Add</button>
 <ul>
   <li *ngFor="let course of courses; index as i; even as first; trackBy: trackCourse">
     {{ i + 1 }} - {{ course.name }}
     <span *ngIf="first">*</span>
   </li>
 </ul> -->

<!--  <app-favorite></app-favorite> -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- <app-contact-form></app-contact-form> -->

  <!-- <app-signup-form></app-signup-form> -->
<!--   <app-new-course-form></app-new-course-form> -->
<!-- <app-posts></app-posts> -->

<navbar></navbar>
<router-outlet></router-outlet>

